// variables (10 to 15) //
$btnBackground-color: rgb(236, 174, 79);
$btnFont-color: rgb(255, 255, 255);
$quizBackground-color:rgb(255, 255, 255);
$questionFont-color: black;
$backgroundPic : url(https://images-na.ssl-images-amazon.com/images/I/91TmR1v-qRL._RI_.jpg) no-repeat center center fixed;
$dark-color: rgb(61, 59, 59);
$dark2-color: rgb(20, 15, 15);
$dark3-color: rgb(49, 32, 32);
$light-color: rgb(212, 203, 203);
$light2-color: rgb(172, 157, 157);
